.login-main{

  margin-top: 7%;
}

.inventory-body{
  position: fixed;
  min-width: 100%;
  background-color: blueviolet;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  background-size: cover;
}
